* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.place {
  height: 100vh;
  display: grid;
  align-items: center;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "title title title"
    "square square square"
    "square square square"
    "square square square"
    "button button button";
}

h1 {
  grid-area: title;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  margin-bottom: 30px;
}

.square {
  grid-area: square square square;

  width: 100px;
  height: 100px;
  background-color: #202120;
  margin: 5px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.o::after {
  display: flex;
  justify-content: center;
  align-items: center;

  content: "\2B55";
  font-size: 50px;
}

.x::after {
  display: flex;
  justify-content: center;
  align-items: center;

  content: "\274C";
  font-size: 50px;
}

button {
  grid-area: button;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  margin-top: 30px;

  height: 40px;

  border-radius: 45px;
  border: none;

  cursor: pointer;

  background-color: #bebebe;
  color: #202120;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #4a4d4a;
  color: white;

  box-shadow: 0px 15px 20px rgba(71, 71, 71, 0.4);

  transform: translateY(-7px);
}
